@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
}

/* ********LOGIN COMPONENT CSS******** */

.login-component {
  display: flex;
  /* width: 1440px; */
  padding: 100px 120px;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  background: var(--Page-Background, #F8F8F8);

}

.illustration {
  width: 40vw;
  height: 40vw;

}

.login-card {
  display: flex;
  padding: 50px;
  width: 40vw;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  border-radius: 24px;
  background: var(--White, #FFF);
  box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.10);

  h1 {
    color: var(--Text-color, #161616);
    font-family: Lato;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  p {
    color: var(--text-content-color, #3A3A3A);
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .input-container {
    display: flex;
    /* width: 500px; */
    align-self: stretch;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;

    span {
      color: var(--Purple-Bold, #2B2EE5);
      font-family: Lato;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }

    input {
      display: flex;
      /* width: 500px; */
      /* height: 50px; */
      align-self: stretch;
      padding: 20px 24px;
      align-items: center;
      gap: 8px;
      border-radius: 6px;
      border: 1px solid rgba(0, 0, 0, 0.20);
      background: var(--Page-Background, #F8F8F8);
    }
  }

  button {
    display: flex;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    gap: 6px;
    border-radius: 6px;
    background: var(--Purple-Fill, #5D5FEF);
    border: none;
    color: var(--White, #FFF);
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    &:hover {
      background: var(--Purple-Fill, #484bfa);
      cursor: pointer;
    }

  }

}




/* ********MAIN PAGE COMPONENT CSS******** */
.typography {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 50px 32px;
  gap: 40px;

}

.cards {
  display: inline-flex;
  align-items: center;
  gap: 60px;
}

.card {
  display: flex;
  width: 400px;
  padding: 24px 32px;
  /* flex-direction: column; */
  /* justify-content: flex-; */
  align-items: flex-start;
  gap: 24px;
  border-radius: 16px;
  background: #fafafa;

  &:hover {
    box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.10);
    background: #f7f7f7;
  }

  .icon-frame {
    display: flex;
    width: 100px;
    height: 100px;
    padding: 25px;
    justify-content: center;
    align-items: center;
    border-radius: 200px;
    background: #EEF;
  }

  .text-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    flex: 1 0 0;

    h1 {
      color: #5D5FEF;
      font-feature-settings: 'clig' off, 'liga' off;
      font-family: Lato;
      font-size: 40px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }

    span {
      color: #000;
      font-feature-settings: 'clig' off, 'liga' off;
      font-family: Lato;
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }

    div {
      display: flex;
      align-items: center;
      gap: 6px;
      color: #8A8A8A;
      font-feature-settings: 'clig' off, 'liga' off;
      font-family: Lato;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }

  }
}





/* ********USER LISTING PAGE COMPONENT CSS******** */
.list-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 40px 40px;
  border-radius: 10px;
  border: 1px solid var(--Border, #E6EDFF);
  background: var(--White, #fafafa);

  span {
    color: #000;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
}




/* ********POST LISTING PAGE COMPONENT CSS******** */